SSH_KEY=" ... "
HOSTNAME=192.168.**.***

AWS_ACCOUNT_NUMBER=1234****
AWS_ECR_REGION=ap-northeast-1
AWS_ECR_REPOSITORY=string
APP_CONTAINER_NAME=string
APP_PORT_MAPPING=3000:3000
APP_ENV_FILE="TEST_ENV_VAR=hello"
